{
  "printWidth": 100,
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-apex"],
  "overrides": [
    {
      "files": "*.cls",
      "options": {
        "parser": "apex"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "lwc"
      }
    }
  ]
}
